<div class="modal fade" id="modalEnterLocation" tabindex="-1" role="dialog" aria-labelledby="modalEnterLocation" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card card-row">
        <div class="row gx-0">
          <!-- <div class="col-12 col-md-6 bg-cover card-img-left" style="background-image: url({{webRoot}}/assets/img/photos/photo-1.jpg);"> -->

            <!-- Image (placeholder) -->
            <!-- <img src="{{webRoot}}/assets/img/photos/photo-1.jpg" alt="..." class="img-fluid d-md-none invisible"> -->

            <!-- Shape -->
            <!-- <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
              {{> curves/curve-4}}
            </div> -->

          </div>
          <div class="col-12">
            <div class="card-body">

              <!-- Close -->
              <button type="button" class="modal-close close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>

              <!-- Heading -->
              <h2 class="mb-0 font-weight-bold text-center" id="modalEnterLocationTitle">
                What's your location?
              </h2>

             

              <!-- Form -->
              <form class="mb-6">

                <!-- Location -->
                <div class="form-group">
                  <label class="sr-only" for="modalEnterLocation">
                   Location
                  </label>
                  <input type="text" class="form-control" id="modalEnterLocation" placeholder="Your location">
                </div>

               

                <!-- Submit -->
                <button class="btn btn-block btn-primary" type="submit">
                 Search
                </button>

              </form>

              
            </div>
          </div>

        </div> <!-- / .row -->
      </div>
    </div>
  </div>
</div>
