<nav class="navbar navbar-expand-lg {{classList}}">
  <div class="{{container}}">

    <!-- Brand -->
    <a class="navbar-brand" href="{{webRoot}}/index.html">
      <img src="{{webRoot}}/assets/img/brand.png" class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="navbarLandings" href="{{webRoot}}/services.html" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarPages" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Pages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarPages">
            <div class="row">
              <div class="col"> -->
               
                    <!-- Heading -->
                    <!-- <h6 class="dropdown-header">
                      Career
                    </h6>
                    -->
                    <!-- List -->
                    <!-- <a class="dropdown-item" href="{{webRoot}}/help-center.html">
                      Overview
                    </a>
                    <a class="dropdown-item " href="{{webRoot}}/help-center-article.html">
                      Article
                    </a>

                
              </div>
              
            </div>
          </div>
        </li> --> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarAccount" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarAccount">
            <li class="dropdown-item dropright">
              <a class="dropdown-link dropdown-toggle" data-toggle="dropdown" href="#">
                Settings
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{webRoot}}/account-general.html">
                  General
                </a>
                <a class="dropdown-item" href="{{webRoot}}/account-security.html">
                  Security
                </a>
                <a class="dropdown-item" href="{{webRoot}}/account-notifications.html">
                  Notifications
                </a>
               
                <a class="dropdown-item" href="{{webRoot}}/account-history.html">
                  History
                </a>
              </div>
            </li>
            
            
            <li class="nav-item">
              <a class="dropdown-item"href="#">
                Password Reset
              </a>
         
              
            </li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDocumentation" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Help
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarAccount">
            <li class="nav-item">
              <a class="dropdown-item"href="{{webRoot}}/FAQ.html">
                FAQ
              </a>           
            </li>
            
            
            <li class="nav-item">
              <a class="dropdown-item"href="{{webRoot}}/contact.html">
                Contact Us
              </a>           
            </li>
            
          </ul>
        </li>
      </ul>

      <!-- Button -->
      <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" href="https://themes.getbootstrap.com/product/landkit/" target="_blank">
        Sign in
      </a>

    </div>

  </div>
</nav>
